.Videos {
  color: white;
  float: left;
  position: relative;
  margin: 0.9rem;
  margin-bottom: 3.5rem;
}
  
.Video-elements {
  width: 285px;
  height: 155px;
  transition: 0.4s;
}
.Video-elements>img {
  transition: 0.4s;
  width: 285px;
  height: 155px;
}

.Video-elements>img:hover {
  transition: 0.5s;
  width: 285px;
  height: 155px;
}

.Video-elements:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
  width: 285px;
 }

.run-time {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 0 5px 2px;
}

.view-able {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 11px;
  padding: 0 5px 3px;
  color: black;
  border-radius: 6px;
}

.public {
  background-color: rgba(51, 255, 0, 0.842);
}

.private {
  background-color: red;
}

.view-count {
  position: absolute;
  top: 88%;
  left: 1%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 0 5px 2px;
}

.create-day {
  position: absolute;
  top: 88%;
  right: 1%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 0 5px 2px; 
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.name-language {
  display: flex;
  margin-top: 4px;
}

.language {
  padding: 0 3px;
  text-align: center;
  background-color: rgb(83, 83, 83);
  border-radius: 6px;
}

.user-name {
  padding: 0 10px;
}

.video-description {
  width: 500px;
  height: 500px;
  background-color: #fff;
}

.hidden {
  display: none;
}

.Video-elements:hover .hidden {
  display: block;
  transition: 1s;
}
