.Top-10 {
  font-size: 1.4rem !important;
  color    : black;
}

.Top-10-element {
  font-size : 1rem !important;
  float     : left;
  position  : relative;
  text-align: center;
  color     : white;
}

.Top-10-element .games-rank {
  width: 100%;
  top: 16%;
  position: absolute;
  font-size: 8rem;
  font-weight: bold;
  opacity: 1;
}

.Top-10-element>img {
  margin: 0.5rem;
  opacity: 0.4;
  transition: 0.5s;
}

.Top-10-element>img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.03);
  transition: 0.5s;
}

.selected {
  opacity: 1 !important;
  transform : scale(1.01);
  box-shadow: 0 10px 38px rgba(133, 133, 133, 0.3), 0 4px 40px rgba(161, 73, 243, 0.719);
}

.top-title {
  width: 150px;
}
